<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Wednesday, September 26, 2018 at 5:24:20 PM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-09-27T00:24:20Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/black gamma vs iso UNLABELED.mov</string>
			</array>
			<key>sourceFP</key>
			<string>KBHAl66LSNiEmGxFLG2c/g - 2018-09-27 00:04:44 +0000</string>
		</dict>
	</array>
</dict>
</plist>
