<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Thursday, August 9, 2018 at 6:13:51 PM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-10T01:13:51Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/jaz chair 1.1.mov</string>
			</array>
			<key>sourceFP</key>
			<string>pQfLip0rRkWFLBuRFdx2YQ - 2018-08-10 01:13:41 +0000</string>
		</dict>
	</array>
</dict>
</plist>
