<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Thursday, September 6, 2018 at 6:41:13 PM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-09-07T01:41:13Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/raw pp test.mov</string>
			</array>
			<key>sourceFP</key>
			<string>TmcbbqqqQRKW/qc0bjSC4A - 2018-09-07 01:37:59 +0000</string>
		</dict>
	</array>
</dict>
</plist>
