<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Thursday, August 2, 2018 at 5:01:23 PM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-03T00:01:23Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/geoffs a7 yay.mov</string>
			</array>
			<key>sourceFP</key>
			<string>4LEfX6dlQM21LFDEsxzIiA - 2018-08-02 23:59:37 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Saturday, August 4, 2018 at 12:25:58 AM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-04T07:25:58Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/geoffs a7 low light cine 2.mov</string>
			</array>
			<key>sourceFP</key>
			<string>4LEfX6dlQM21LFDEsxzIiA - 2018-08-04 07:25:44 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Saturday, August 4, 2018 at 12:38:07 AM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-04T07:38:07Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/geoffs a7 low light 2 cine 2.mov</string>
			</array>
			<key>sourceFP</key>
			<string>4LEfX6dlQM21LFDEsxzIiA - 2018-08-04 07:37:39 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Saturday, August 4, 2018 at 10:56:45 AM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-04T17:56:45Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/geoffs a7 low light 2 cine 2 4.mov</string>
			</array>
			<key>sourceFP</key>
			<string>4LEfX6dlQM21LFDEsxzIiA - 2018-08-04 17:55:43 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Saturday, August 4, 2018 at 11:18:31 AM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-04T18:18:31Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/geoffs a7 slog 3.mov</string>
			</array>
			<key>sourceFP</key>
			<string>4LEfX6dlQM21LFDEsxzIiA - 2018-08-04 18:16:50 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Saturday, August 4, 2018 at 11:33:31 AM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-04T18:33:31Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/geoffs a7 low light 2 black.mov</string>
			</array>
			<key>sourceFP</key>
			<string>4LEfX6dlQM21LFDEsxzIiA - 2018-08-04 18:33:08 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Saturday, August 4, 2018 at 5:22:36 PM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-05T00:22:36Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/A7 shadow 1.mov</string>
			</array>
			<key>sourceFP</key>
			<string>4LEfX6dlQM21LFDEsxzIiA - 2018-08-04 23:55:26 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Saturday, August 4, 2018 at 5:22:58 PM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-05T00:22:58Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/A7 shadow 2.mov</string>
			</array>
			<key>sourceFP</key>
			<string>4LEfX6dlQM21LFDEsxzIiA - 2018-08-05 00:22:13 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Saturday, August 4, 2018 at 11:08:47 PM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-05T06:08:47Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/A7 shadow 3.mov</string>
			</array>
			<key>sourceFP</key>
			<string>4LEfX6dlQM21LFDEsxzIiA - 2018-08-05 06:04:22 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Sunday, August 5, 2018 at 12:48:15 AM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-05T07:48:15Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/A7 shadow 4.mov</string>
			</array>
			<key>sourceFP</key>
			<string>4LEfX6dlQM21LFDEsxzIiA - 2018-08-05 07:47:37 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Sunday, August 5, 2018 at 11:17:17 AM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-05T18:17:17Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/A7 mid 1.mov</string>
			</array>
			<key>sourceFP</key>
			<string>4LEfX6dlQM21LFDEsxzIiA - 2018-08-05 18:13:42 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Sunday, August 5, 2018 at 1:17:52 PM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-05T20:17:52Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/A7 low 2 auto -7.mov</string>
			</array>
			<key>sourceFP</key>
			<string>4LEfX6dlQM21LFDEsxzIiA - 2018-08-05 20:11:58 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Sunday, August 5, 2018 at 1:20:48 PM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-05T20:20:48Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/A7 low 2 auto -7 lower saturation noise?.mov</string>
			</array>
			<key>sourceFP</key>
			<string>4LEfX6dlQM21LFDEsxzIiA - 2018-08-05 20:19:47 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Sunday, August 5, 2018 at 4:33:56 PM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-05T23:33:56Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/A7 low 2 auto iso.mov</string>
			</array>
			<key>sourceFP</key>
			<string>4LEfX6dlQM21LFDEsxzIiA - 2018-08-05 23:33:17 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Friday, August 10, 2018 at 8:06:12 PM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-11T03:06:12Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/new pp saturation test, -8 on the mids, 0 blacks, 90 highlights.mov</string>
			</array>
			<key>sourceFP</key>
			<string>4LEfX6dlQM21LFDEsxzIiA - 2018-08-11 03:04:13 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Saturday, August 11, 2018 at 10:44:32 PM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-12T05:44:32Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/a slomo 1.0.mov</string>
			</array>
			<key>sourceFP</key>
			<string>4LEfX6dlQM21LFDEsxzIiA - 2018-08-12 05:44:25 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Wednesday, August 15, 2018 at 10:16:48 PM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-16T05:16:48Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/ethan gym.mov</string>
			</array>
			<key>sourceFP</key>
			<string>4LEfX6dlQM21LFDEsxzIiA - 2018-08-16 05:15:42 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Wednesday, August 15, 2018 at 10:38:58 PM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-16T05:38:58Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/anthony walk.mov</string>
			</array>
			<key>sourceFP</key>
			<string>4LEfX6dlQM21LFDEsxzIiA - 2018-08-16 05:38:48 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Wednesday, August 15, 2018 at 11:53:46 PM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-16T06:53:46Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/hlog test.mov</string>
			</array>
			<key>sourceFP</key>
			<string>4LEfX6dlQM21LFDEsxzIiA - 2018-08-16 06:52:03 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Thursday, August 23, 2018 at 11:40:17 AM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-23T18:40:17Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/iso v grading, for each pp.mov</string>
			</array>
			<key>sourceFP</key>
			<string>4LEfX6dlQM21LFDEsxzIiA - 2018-08-23 18:38:59 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Thursday, August 23, 2018 at 11:54:49 AM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-08-23T18:54:49Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/iso v grading, for each pp.mov</string>
			</array>
			<key>sourceFP</key>
			<string>4LEfX6dlQM21LFDEsxzIiA - 2018-08-23 18:50:13 +0000</string>
		</dict>
	</array>
</dict>
</plist>
