<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Tuesday, September 25, 2018 at 7:13:55 PM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-09-26T02:13:55Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/detail test UNCOMPLETE.mov</string>
			</array>
			<key>sourceFP</key>
			<string>60+cuHl9StCq7MxNeoENzQ - 2018-09-26 02:01:20 +0000</string>
		</dict>
	</array>
</dict>
</plist>
