<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Wednesday, September 26, 2018 at 5:17:42 PM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-09-27T00:17:42Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/slog vs cine 1 not labeled.mov</string>
			</array>
			<key>sourceFP</key>
			<string>3bemdRfZSgixtJbtrXqAaA - 2018-09-27 00:06:30 +0000</string>
		</dict>
	</array>
</dict>
</plist>
