<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Tuesday, September 4, 2018 at 2:19:54 PM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-09-04T21:19:54Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/black level vs grading.mov</string>
			</array>
			<key>sourceFP</key>
			<string>oR+gmyLSQlaHAt9vzdmfpg - 2018-09-04 21:19:29 +0000</string>
		</dict>
	</array>
</dict>
</plist>
