<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Thursday, September 6, 2018 at 4:03:29 PM Pacific Daylight Time</string>
			<key>fullDate</key>
			<date>2018-09-06T23:03:29Z</date>
			<key>resultStr</key>
			<array>
				<string>/Volumes/2134475566/black gamma test.mov</string>
			</array>
			<key>sourceFP</key>
			<string>dCuKYD8zR2yG0zNysmAZjQ - 2018-09-06 23:03:06 +0000</string>
		</dict>
	</array>
</dict>
</plist>
